<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger">Edit Contact</p>
      <p class=" fst-italic">ipsum dolor sit amet, consectetur adipisicing elit.
        inventore labore molestiae odio, odit guaerat quisquam quo repudiandae rerum
        veritatis. </p>
    </div>
  </div>
</div>

<!-- Edit Contact Form -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form>

        <div class="mb-2">
          <input class="form-control" placeholder="Name" type="text">
        </div>

        <div class="mb-2">
          <input class="form-control" placeholder="Phone-Num" type="phone">
        </div>

        <div class="mb-2">
          <input class="form-control" placeholder="Address" type="text">
        </div>

        <div class="mb-2">
          <input class="form-control" placeholder="Notes" type="text">
        </div>

        <div class="mb-2">

          <a routerLink="/contacts/admin"> <input class="btn btn-danger" type="submit" value="Edit" >  </a>
        </div>

      </form>
   </div>
 </div>
</div>
